<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShelfAI | Intelligent Shelf Audit Solutions</title>
    
    <!-- Google Fonts: Inter. Used for a clean, modern aesthetic across the app -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    
    <!-- 
    Custom CSS Linkage: 
    This hooks into our FastAPI backend. The route `/static` mapped in `app/__init__.py` 
    securely loads `styles.css` from the `app/templates/static` directory.
    -->
    <link rel="stylesheet" href="/static/styles.css">
    
    <style>
        /* Center the box vertically for this specific page */
        body {
            align-items: center !important;
        }
    </style>
</head>
<body>

    <!-- Main styled glassmorphism card -->
    <div class="container">
        <h1>ShelfAI</h1>
        <h4>Intelligent Shelf Audit Solutions</h4>
        <p>Please, log in to continue</p>
        
        <!-- 
        The HTML Form & Routing:
        When the user clicks 'Continue', the browser reads the selected 'profile_id' UUID value
        and builds a URL parameter string. It sends a GET request to the backend route 
        defined as `@router.get("/profile_dashboard")`.
        Example generated URL: http://localhost:8000/profile_dashboard?profile_id=1d25496b...
        -->
        <form action="/api/login" method="POST">
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" name = "email" required>
            </div>

            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" name = "password" required>
            </div>
            
            <button type="submit">Log in</button>
        </form>
    </div>

</body>
</html>